@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Atkinson Hyperlegible", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Atkinson Hyperlegible", sans-serif;
  --font-mono: "Atkinson Hyperlegible", monospace;

  /* Map all weight utilities to either 400 or 700 to ensure we only use these two weights of Atkinson Hyperlegible */
  --font-weight-light: 400;
  --font-weight-normal: 400;
  --font-weight-medium: 400;
  --font-weight-semibold: 700;
  --font-weight-bold: 700;
  --font-weight-extrabold: 700;
  --font-weight-black: 700;
  
  --color-brand-bg: #fefefe;
  --color-brand-accent1: #3981b7;
  --color-brand-accent2: #40a56d;
}

@layer base {
  body {
    @apply antialiased bg-brand-bg text-[#141414];
  }
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
